/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */
 @use 'vuetify/settings' with (
  $body-font-family: 'Poppins',
);
 $primary: #907dd0 !important;
 $maisie-yellow: #f8edd0;
 $primary-bg: linear-gradient(45deg, #907dd0 0%, #50389d 100%) !important;

 @font-face {
  font-family: 'LilyUPC';
  src: local("LilyUPC"), url("/fonts/LilyUPC/upclb.ttf") 
 }




 
